/* src/components/Footer.module.css */
/* src/components/Footer.module.css */
.footer {
  padding: 2rem;
  text-align: center;
  border-top: 1px solid var(--card-border);
  color: var(--text-secondary);
  font-family: var(--font-inter);
  font-size: 0.9rem;
}
.copyright {
  margin: 1rem 0;
}

.portfolioLink {
  color: var(--primary-accent);
  text-decoration: underline;
}